:root {
  --clr-gray-900: #111;
  --clr-gray-800: #222;
  --clr-gray-700: #333;
  --clr-gray-600: #444;
  --clr-gray-500: #555;
  --clr-gray-400: #666;
  --clr-gray-300: #777;
  --clr-gray-200: #888;
  --clr-gray-100: #999;
}

.heatmap {
  height: 100px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  color: white;
  text-decoration: underline;
}

.box1 {
  background-color: var(--clr-gray-100);
}

.box2 {
  background-color: var(--clr-gray-200);
}

.box3 {
  background-color: var(--clr-gray-300);
}

.box4 {
  background-color: var(--clr-gray-400);
}

.box5 {
  background-color: var(--clr-gray-500);
}

.box6 {
  background-color: var(--clr-gray-600);
}

.box7 {
  background-color: var(--clr-gray-700);
}

.box8 {
  background-color: var(--clr-gray-800);
}

.box9 {
  background-color: var(--clr-gray-900);
}
/* navbar */
.navbar {
  height: 110px;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--clr-gray-800);
  color: white;
}

.nav-item {
  flex: 1;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 22px;
}

.logo {
  flex: 2;
  font-size: 38px;
  background-color: var(--clr-gray-900);
}

.searchbar {
  flex: 3;
}

.searchbar > input {
  width: 70%;
  height: 50%;
  border-radius: 5px;
  font-size: 25px;
  padding-left: 20px;
}

.category-list {
  height: 70px;
  background-color: var(--clr-gray-600);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: white;
  padding: 0 40px;
}

.category-item {
  display: grid;
  place-items: center;
  height: 40px;
  width:100px;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--clr-gray-700);
}

.section-1 {
  height: 1000px;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 2fr 1fr;
  grid-gap: 100px;
  padding: 0 100px;
  color: white;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.left-1 {
  grid-area: left;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-gray-400);
}

.article-1 {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-1:first-child {
  flex: 2;
}

.article-head {
  display: flex;
  align-items: center;
}

.article-pic {
  height: 120px;
  width: 120px;
  margin: 0 25px;
  background-color: var(--clr-gray-700);

}

.article-pic.first {
  width: 200px;
  height: 200px;
  background-color: var(--clr-gray-700);

}

.article-title {
  font-size: 36px;
  flex: 0.8;
  background-color: var(--clr-gray-700);
}

.article-title.first {
  font-size: 45px;
  flex: 0.8;
  background-color: var(--clr-gray-900);

}

.article-1 p {
  font-size: 28px;
  line-height: 1.3;
  padding-top: 20px;
}

.right-1 {
  grid-area: right;
}

.email-form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--clr-gray-700);
  position: relative;
  padding: 130px 50px 0 50px;
  color: white;
}

.cat-logo {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  border-radius: 50%;
  background-color: var(--clr-gray-900);
}

.email-form button {
  width: 210px;
  height: 60px;
  background-color: var(--clr-gray-900);
  font-size: 23px;
  border: none;
  border-radius: 10px;
  color: white;
}

.email-form h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 29px;
  background-color: var(--clr-gray-800);
  line-height: 1.5;
}

.email-form p {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom:  30px;
}

.email-form input {
  width: 390px;
  height: 70px;
  margin-bottom: 80px;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-gray-800);
  font-size: 31px;
  text-align: center;
  color: white;
  
}


/* SECTION 2 */
.section-2 {
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 120px;
  margin-top: 100px;
}

.card-2 {
  width: 380px;
  height: 440px;
  border-radius: 8px;
  background-color: var(--clr-gray-500);
  padding: 50px;
  color: white;
}

.card-2 h1 {
  font-size: 38px;
  text-decoration: underline;
  background-color: var(--clr-gray-700);
}

.card-2 p {
  font-size: 25px;
  margin-bottom: 20px;
  background-color: var(--clr-gray-600);
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 1.4;
}

.card-2 button {
  background-color: var(--clr-gray-800);
  width: 380px;
  height: 80px;
  border: none;
  border-radius: 12px;
  font-size: 30px;
  color: white;
}

.all-guides {
  height: 50px;
  width: fit-content;
  padding: 0 20px;
  display: grid;
  place-items: center;
  font-size: 17px;
  margin: 0 auto;
  background-color: var(--clr-gray-200);
  margin-bottom: 100px;
}

.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-3 {
  width: 750px;
  height: 450px;
  position: relative;
  padding: 0 100px;
  box-sizing: border-box;
  background-color: var(--clr-gray-300);
  color: white;
}

.pic-3 {
  height: 80px;
  width: 80px;
  position: absolute;
  left: -20px;
  transform: rotate(-25deg);
  background-color: var(--clr-gray-600);
}

.div-3 > h4 {
  font-size: 26px;
  margin-bottom: 20px;
  font-style: italic;
  background-color: var(--clr-gray-500);
}

h4 > a {
  color: white;
  font-style: normal;
}

.div-3 > h3 {
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 30px;
  background-color: var(--clr-gray-800);
}

.div-3 > p {
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--clr-gray-700);
}

.div-3.five {
  display: grid;
  place-items: center;
  margin-bottom: 130px;
  text-align: center;
}

.devkinsta {
  width: 350px;
  height: 250px;
  border: 1px solid black;
  background-color: var(--clr-gray-700);
  display: grid;
  border-radius: 10px;
}

.devkinsta > h3 {
  font-size: 36px;
  display: grid;
  place-items: center;
  background-color: var(--clr-gray-800);

}
.devkinsta > p {
  font-size: 20px;
  line-height: 1.3;
}

.devkinsta > button {
  width: fit-content;
  height: 35px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: var(--clr-gray-800);
  border: none;
}

.div-3.six {
  padding: 0;
}

.join-community {
  height: 100%;
  border-radius: 15px;
  overflow: non ;
  background-color: var(--clr-gray-700);
  position: relative;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}

.cat-logo2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--clr-gray-800);
  position: absolute;
  border: 3px solid black;
  top: -100px;
  left: 250px;
}

.join-community > h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--clr-gray-800);
}

.join-community > p {
  font-size: 22px;
  line-height: 1.3;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.join-community > button {
  width: 300px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--clr-gray-900);
  border: none;
}

button {
  color: white;
  border-radius: 5px;
}